<ion-header>
  <ion-toolbar>
    <ion-title>Swipe2</ion-title>
  </ion-toolbar>
</ion-header>

aaaa{{finished}}

<ion-button (click)="logs()">Click me</ion-button>

<ion-content padding>
  <ion-card *ngFor="let img of list" [ngClass]="{'swipe-right': img.swipedRight, 'swipe-left': img.swipedLeft}" (swipeleft)="swipeLeft(img)"
    (swiperight)="swipeRight(img)">
    <ion-card-content>
        <img [src]="img.url">
    </ion-card-content>
  </ion-card>

  <!--<ion-slides (ionSlideDrag)="swipeRight()">
    <ion-slide>
      <div>TEST2</div>
    </ion-slide>
  </ion-slides>-->
</ion-content>